{% extends "layout.html" %}

{% block page_title %}
    courses
{% endblock page_title %}
    
{% block content %}
    <div class="container mt-3"></div>
    <div class="row">
        <div class="col-3">
            <!-- Menu -->
            {% comment %} {% include "courses/partials/_categories.html" %} {% endcomment %}
            <div class="list-group">
                {% for category in categories %}
                    <a href={% url "courses_by_category" category %} class="list-group-item list-group-item-action"></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            <!-- Content -->
            
        </div>
    </div>

{% endblock content %}