{% extends "layout.html" %}

{% block page_title %}
    courses
{% endblock page_title %}
    
{% block content %}
    <div class="container mt-3"></div>
    <div class="row">
        <div class="col-3">
            <!-- Menu -->
            {% include "courses/partials/_categories.html" %}
        </div>
        <div class="col-9">
            <!-- Content -->
            {% for course in courses %}
                {% include "courses/partials/_course.html" %}
            {% endfor %}
            
        </div>
    </div>

{% endblock content %}